@media (max-width: 760px) {

  * {
    overflow: visible;
  }

  .img-desktop {
    display: none;
  }

  .logo {
    margin: 2rem 0 3rem 3rem;
  }

  .img-mobile {
    display: block;
    width: 100%;
    height: 20%;
    object-fit: cover;
  }

  main {
    grid-template-columns: 1fr;
    overflow: auto;
    height: auto;

  }

  .content {
    padding: 0;
  }

  .input-n-button {
    margin-right: 1.8rem;
  }

  .error-message {
    margin-right: 1.8rem;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }
}